<!DOCTYPE html>
<html>
<head>
<style> 
div {
  width: 200px;
  height: 200px;
  background: red;
  transition: width 2s, height 4s;
}

div:hover {
  width: 3000px;
  height: 3000px;
}
</style>
</head>
<body>

<h1>Hello world</h1>


<div></div>


</body>
</html>
